<section class="sidebar">
  <div class="user-panel">
    <div class="pull-left image">
      <img src="<%= image_path('favicon.png')%>" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p><%= current_user.email.split('@')[0] %></p>
      <a href="#"><i class="fa fa-circle text-success"></i> <%= current_user.role %></a>
    </div>
  </div>
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </form>
  <ul class="sidebar-menu">
    <li class="header">交易追踪</li>
    <li class="treeview <%= 'active' if controller_name == 'exchanges' %>">
      <a href="<%= backend_exchanges_path %>" target="_self">
        <i class="icon ion-home"></i> <span> 交易平台</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'markets' %>">
      <a href="#" target="_self">
        <i class="icon ion-easel"></i> <span> 平台市场</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'snapshots' %>">
      <a href="#" target="_self">
        <i class="icon ion-camera"></i> <span> 资产快照</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'accounts' %>">
      <a href="#" target="_self">
        <i class="icon ion-briefcase"></i> <span> 账户钱包</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'orders' %>">
      <a href="#" target="_self">
        <i class="icon ion-ios-book"></i> <span> 市场订单</span>
      </a>
    </li>
    <li class="header">交易打新</li>
    <li class="treeview <%= 'active' if controller_name == 'announces' %>">
      <a href="<%= backend_announces_path %>" target="_self">
        <i class="icon ion-chatbox"></i> <span>平台公告</span>
      </a>
    </li>
    <li class="treeview <%= 'active' if controller_name == 'launchpads' %>">
      <a href="<%= backend_launchpads_path %>" target="_self">
        <i class="icon ion-paper-airplane"></i> <span>定时首发</span>
      </a>
    </li>
  </ul>
</section>